# python
*.egg-info
*_version.py
*.pyc
*__pycache__
.mypy_cache

# pytask
.pytask.sqlite3
.pytask

# bld
bld/
*.pkl

# latex
*.aux
*.bbl
*.bcf
*.blg
*.fdb_latexmk
*.fls
*.lof
*.log
*.out
*.toc
*.run.xml
*.synctex.gz
